.container {
  padding: 20px 30px;
  background-color: rgb(36, 69, 120);
}

.container > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 30pt;
}

.region {
  float: right;
  padding-top: 5px;
}

.region > button {
  color: white;
  border: none;
  background: inherit;
  font-weight: bold;
  font-size: 15pt;
  outline: none;
}

.region > button:hover {
  cursor: pointer;
  text-decoration-color: white;
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}