.links {
  /* background: grey; */
  height: 100%;
  position: fixed;
  top: 20;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;

  /* align-items: flex-start; */

}

.links > button {
  color: grey;
  border: none;
  background: inherit;
  font-weight: bold;
  font-size: 12pt;
  outline: none;
  display: block;
  padding: 12px 20px;
  text-align: start;
}

.links > button:hover {
  cursor: pointer;
  background-color: lightgray;
}

button.active {
  background-color: rgb(152, 164, 189);
}

button {
  margin-bottom: 20px;
}

#blog {
  color: rgb(42, 68, 115);
}