.topicImg {
    width: 100%;
    vertical-align: top;
    padding: 10px;
}

.topicImg:hover {
    opacity: .5;
    transition: .3s ease-in-out;
}

.imgFigure {
    width: 23%;
    display: block;
    float: left;
    padding: 10px;
    min-height: 400px; /* solved jumping cards */
}

.caption {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
}